/* Configuraciones para toda la pagina*/
* { box-sizing: border-box;}

body{
    text-align: center;
    margin: 0;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.btn-oscuro{
    background: #32364e;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    margin: 10px 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn-oscuro:hover{
    background: #0b0e1d;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.btn-claro{
    background: transparent;
    color: #363f45;
    font-weight: 500;
    font-size: 18px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    margin: 10px 5px;
    border: 1px solid #363f45;
    cursor: pointer;
    transition: 0.5s;
}

.btn-claro:hover{
    background: #FFFFFF;
    color: #363f45;
    border: 1px solid #363f45;
    cursor: pointer;
}

/*********/
/* Header*/
/*********/
header{
    background-color: rgb(130,130,130);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.logo-header{
    height: 150px;
    width: auto;
    margin: 0 auto;
}

/****************/
/*Menu Principal*/
/****************/
#menuprincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#menuprincipal h1{
    font-size: 48px;
    font-family: 'Permanent Marker', cursive;
    color: black;
    margin: 0px auto;
}

/*Botones*/
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60%;
    z-index: 100;

}

/******************/
/*Pantalla de Juego*/
/******************/

#hidden-word{
    margin: 15px;
}

#hidden-word div{
    display: inline-block;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border-bottom: 5px solid #363f45;
    color: #363f45;
    font-weight: 500;
}

#hidden-word .hidde{
    color: transparent;
}

/*Botones*/
.botones-juego{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn-nuevojuego{
    width: 300px;
    height: 100px;
}

#btn-desistir{
    width: 100px;
    height: 50px;
}

/*Teclado*/
#teclado {
    max-width: 450px;
    margin: auto;
    text-align: center;
}

#teclado button{
    border: none;
    width: 50px;
    height: 35px;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 5px;
    transition: 0.3s;
    color: #363f45;
    border: 1px solid #363f45;
    background: transparent;
}

#teclado button:hover{
    background-color: #363f45;
    color: #FFFFFF;
}

#teclado button:disabled{
    background: transparent;
    color: #363f45;
}


/*Agregarpalabras*/

#agregarpalabras{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#agregarpalabras h1{
    font-size: 48px;
    font-family: 'Permanent Marker', cursive;
}

#agregarpalabras h3{
    font-weight: 500;
}

#agregarpalabras input{
    margin: 10px 0;
    font-size: 24px;
    width: 450px;
    height: 100px;
    border-radius: 20px;
    background: #FFFFFF;
    text-align: center;
    border: none;
}

input:focus{
    border: none;
    outline: none
}

#agregarpalabras .btn-add-word{
    width: 285px;
    height: 50px;
}


/*********/
/*Footer*/
/*******/

footer{
	text-align: center;
	background: rgb(130, 130, 130);
	padding: 0px;
}

footer .logo-footer{
    height: 150px;
    margin: -5px;
}
footer p{
    margin: 0;
    font-size: 14px;
}

.copyright{
	font-size: 14px;
	padding-bottom: 10px;
}

.git-img{
    height: 36px;
}