/* Configuraciones para toda la pagina*/
* { box-sizing: border-box;}

body{
    text-align: center;
    margin: 0;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.btn-oscuro{
    background-image: url("img/wood.jpg");
    background-size: 80%;
    background-position: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
    width: 250px;
    height: 80px;
    border-radius: 20px;
    margin: 10px 5px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
    cursor: pointer;
    transition: 0.5s;
}

.btn-oscuro:hover{
    background-size: 75%;
    font-size: 32px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    text-shadow: 0px 0px 5px black;
}

.btn-claro{
    background: cornsilk;
    color: #363f45;
    font-weight: 500;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin: 10px 5px;
    border: 1px solid #363f45;
    cursor: pointer;
    transition: 0.5s;
}

.btn-claro:hover{
    background: #FFFFFF;
    color: #363f45;
    border: 1px solid #363f45;
    cursor: pointer;
}

img{
    height: 370px;
    width: auto;
}

/*********/
/* Header*/
/*********/
header{
    background:url("img/wood.jpg");
    background-size: contain;
    transform: rotate(90%);
    display: flex;
    justify-content: center;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.logo-header{
    height: 150px;
    width: auto;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 8px black);
}

/********/
/* Main */
/********/
main{
    font-family: 'MedievalSharp', cursive;
}

main h1{
    font-size: 70px;
    color: black;
    margin: 0px auto;
}

#pantallacompleta{
    overflow: hidden;
    transition: 500ms;
    position: relative;
    display: flex;
    justify-content: center;
}
#imgfondo{
    position: absolute;
    z-index: -1;
    left: 0;bottom: 0;
    height: max-content;
    width: auto;
}

#ocultaSecciones{
    display: flex;
    overflow: hidden;
    width: 403px;
}
section{
    width: 404px;
    margin: 0 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: 300ms;
}

#trasladaSecciones{
    display: flex;
    transform: translateX(-404px);
    transition: 300ms;
}


/*****************/
/*Agregarpalabras*/
/*****************/
#agregarpalabras{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#agregarpalabras h1{
    font-size: 48px;
}

.tablero{
    width: 380px;
    height: 60px;
    background-image: url(img/tablero.png);
    background-size: 380px 60px;
}
#agregarpalabras h3{
    font-weight: 500;
}

#agregarpalabras input{
    margin: 10px 0;
    font-size: 24px;
    width: 380px;
    height: 60px;
    border-radius: 20px;
    background: #FFFFFF;
    text-align: center;
    border: none;
}

input:focus{
    border: none;
    outline: none
}

#btnAgregarPalabra{
    width: 285px;
    height: 55px;
}


/****************/
/*Menu Principal*/
/****************/
#imagenes{
    position: relative;

}
#horcamenu{
    margin-top: 3px;
}
#sogamenu{
    position: absolute;
    left: 0;
    z-index: -1;
}
/*Cartel Puntos*/
#cartelpuntos{
    position: absolute;
    bottom: 0;
    left: 40%;
}
#cartelpuntos img{
    height: auto;
    width: 100%;
}

#cartelpuntos h3{
    height: auto;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 9%;
}

/*Botones*/
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60%;
    z-index: 100;

}

/*******************/
/*Pantalla de Juego*/
/*******************/
#juego{
    position: relative;
}

#hidden-word{
    font-size: 34px;
    height: 50px;

}

#hidden-word div{
    display: inline-block;
    width: 20px;
    height: 34px;
    margin: 0px 5px;
    border-bottom: 5px solid #da8302;
    color: white;
    text-shadow: 0px 0px 2px black;
    font-weight: 500;
}

/*Alertas*/

#alertas{
    background-color: #363f45;
    border-radius: 50px;
    margin: auto;
    width: 400px;
    position: absolute;
    top: 36%;
    left: 0%;
}
.cartelalerta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#alertas img{
    height: 150px;
    width: 150px;
}
#alerta-vive, #alerta-muere{
    display: none;
}

/*Botones*/
.botones-juego{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn-nuevojuego{
    width: 300px;
    height: 100px;
}

#btn-desistir{
    width: 100px;
    height: 50px;
}

/*Teclado*/
#teclado {
    max-width: 400px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: burlywood;
}

#teclado button{
    border: none;
    width: 50px;
    height: 35px;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 5px;
    transition: 0.3s;
    color: #363f45;
    border: 1px solid #363f45;
    background: transparent;
}

#teclado button:hover{
    background-color: #363f45;
    color: #FFFFFF;
}

#teclado button:disabled{
    background: transparent;
    color: #363f45;
}



/*********/
/*Footer*/
/*******/

footer{
	text-align: center;
	background: rgb(130, 130, 130);
	padding: 0px;
}

footer .logo-footer{
    height: 150px;
    margin: -5px;
}
footer p{
    margin: 0;
    font-size: 14px;
}

.copyright{
	font-size: 14px;
	padding-bottom: 10px;
}

.git-img{
    height: 36px;
}